@model List<Readify.Domain.BookAgg.DTOs.GetBookDto>
@{
}

<h2 class="section-title">جدیدترین کتاب‌ها</h2>

<div class="books">
    @foreach (var book in Model)
    {
        <div class="book-card">
            <div class="book-image">
                <img src="@book.img.ImageUrl"
                     alt="@book.BookName" width="260" height="280" />
            </div>
            <div class="book-info">
                <div class="book-title">@book.BookName</div>
                <div class="book-author">@book.AuthorName</div>
                <div class="book-author">@book.PageCount صفحه</div>
                <div class="book-price">@book.Price ت</div>
            </div>
        </div>
    }
</div>