@model BookEditViewModel
@{
    Layout = "_ManagerLayout";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-body">
                <div class="px-3 py-5">


                    <form method="post" enctype="multipart/form-data">
                        
                        <input type="hidden" asp-for="Book.BookId" />
                        <input type="hidden" asp-for="Book.UserId" />


                        <div class="form-group">
                            <label asp-for="Book.BookName">نام کتاب:</label>
                            <input type="text" asp-for="Book.BookName" class="form-control" value="@Model.Book.BookName" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Book.AuthorName">نویسنده:</label>
                            <input type="text" asp-for="Book.AuthorName" class="form-control" value="@Model.Book.AuthorName" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Book.PageCount">تعداد صفحات:</label>
                            <input type="number" asp-for="Book.PageCount" class="form-control" value="@Model.Book.PageCount" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Book.Price">قیمت:</label>
                            <input type="number" asp-for="Book.Price" class="form-control" value="@Model.Book.Price" />
                        </div>

                        <div class="form-group">
                            <label>دسته‌بندی:</label>
                            <select name="Book.CategoryId" class="form-control">
                                <option value="">انتخاب گزینه</option>
                                @foreach (var category in Model.Categories)
                                {
                                    if (category.Id == Model.Book.CategoryId)
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <label asp-for="Book.ImgFile">تصویر اصلی:</label>
                            @if (!string.IsNullOrEmpty(Model.Book.ImgUrl))
                            {
                                <div class="mb-2">
                                    <img src="~/@Model.Book.ImgUrl"  width="150" style="border-radius:8px" />
                                </div>
                            }

                            <input type="file" asp-for="Book.ImgFile" class="form-control-file" />
                        </div>

                        <button type="submit" class="btn btn-success">ذخیره تغییرات</button>
                        <div class="d-grid mb-2">
                       
                        
                            <div style="color:red">@ViewBag.Error</div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
