@model List<Readify.Domain.BookAgg.DTOs.GetBookDto>


@{
    ViewData["Title"] = "کتاب ها -";
}
@{
    Layout = "_ManagerLayout";
}



<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست کتاب ها</h4>
                        <a class="btn mr-1 btn-round btn-primary" asp-controller="BookManager" asp-action="Create">افزودن</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>قیمت</th>
                                    <th>نام نویسنده</th>
                                    <th>تعداد صفحات</th>
                                    <th>عکس</th>
                                    <th>اقدامات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var book in Model)
                                    {
                                        <tr>
                                            <td>@book.Id</td>
                                            <td>@book.BookName</td>
                                            <td>@book.Price</td>
                                            <td>@book.AuthorName</td>
                                            <td>@book.PageCount</td>
                                            <td><img src="~/@book.img.ImageUrl" width="50px" /></td>
                                            <td>
                                                <form asp-controller="BookManager" asp-action="Edit" method="get" class="d-inline-block">
                                                    <input type="hidden" name="id" value="@book.Id" />
                                                    <button type="submit" class="btn-info btn p-1" title="ویرایش">
                                                        ویرایش
                                                    </button>
                                                </form>
                                                <form asp-controller="BookManager" asp-action="Delete" method="post" class="d-inline-block">
                                                    <input type="hidden" name="id" value="@book.Id" />
                                                    <button type="submit" class="btn-danger btn p-1" title="حذف">
                                                        حذف
                                                    </button>
                                                </form>
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>