@model List<Readify.Domain.BookAgg.DTOs.GetBookDto>
    

@{
    ViewData["Title"] = "کتاب ها -";
}
@{
    Layout = "_ManagerLayout";
}



<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست کتاب ها</h4>
                        <a class="btn mr-1 btn-round btn-primary" asp-controller="BookManager" asp-action="Create">افزودن</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>قیمت</th>
                                    <th>نام نویسنده</th>
                                    <th>تعداد صفحات</th>
                                    <th>عکس</th>
                                    <th>اقدامات</th>
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                foreach (var book in Model)
                                {
                                    <tr>
                                        <td>@book.Id</td>
                                        <td>@book.BookName</td>
                                        <td>@book.Price</td>
                                        <td>@book.AuthorName</td>
                                        <td>@book.PageCount</td>
                                            <td><img src="@book.img.ImageUrl" width="50px" /></td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="">
                                                <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                            </a>

                                            <a class="danger p-0" data-original-title="" title="">
                                                <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>